.badge {
    padding: 2px 6px;
    background-color: green;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -10px;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link-container {
    position: relative;
    display: inline-block;
}
